@using Hashashins_CRM_Web.Models.Entity
@model List<CagrilarTablosu>

@{
    ViewBag.Title = "AktifCagrilar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Düzenle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Cagri_ID</td>
            <td>@x.Konu</td>
            <td>@x.Tarih</td>
            <td><a href="/Default/CagriGetir/@x.Cagri_ID/" class="btn btn-warning">Düzenle</a> </td>
            <td><a href="/Default/CagriDetay/@x.Cagri_ID/" class="btn btn-danger">Detaylar</a> </td>
        </tr>
    }
</table>
<td><a href="/Default/YeniCagri/" class="btn btn-primary">Yeni Çağrı Ekle</a> </td>

